.landing-page {
    text-align: center;
    padding: 50px;
    background-color: #282c34;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.landing-page.fade-out {
    animation: curtain-slide 1s ease-in-out forwards, fade-out 1s ease-in-out forwards;
}

@keyframes curtain-slide {
    0% {
        clip-path: inset(0% 0% 0% 0%);
    }
    100% {
        clip-path: inset(0% 50% 0% 50%);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
